$font-1: "font-1", sans-serif;

$color-1: black;
$color-2: #ffe919;
$white: rgb(243, 243, 243);
$black: gray;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $black;
  font-family: $font-1;
  // @include verticalCenter;
}

li {
  list-style-type: none;
}

h1 {
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: $color-2;
  font-size: 3rem;
  text-align: center;
}
